.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: 1px dashed #ccc;
  background-color: 'white';
  min-height: 61px;
  box-sizing: border-box;
}

.Controls-text{
  font-size: 18px;
  line-height: 20.7px;
  margin-right: 12px;
}

.Controls-text-bold{
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
  line-height: 20.7px;
}
