.Modal{
    /* position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    display: none;
    /* background: rgba(0,0,0,0.5); */
    
}

.Modal-active {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: solid red;
    min-width: 960px;
}

/* .Modal-head{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #f5f5f5;
} */

.Modal-content{
    padding: 25px;
    background: white;
    /* border-radius: 16px; */
    
}