/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-home {
  color: #0087E9;
  font-size: 18px;
  line-height: 20.7px;
  cursor: pointer;
  text-decoration: underline;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
