.CartItem {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  align-items: center;
  height: 63px;
}

.CartItem-code {
  padding: 20px 10px 20px 20px;
}

.CartItem-title {
  flex: 1;
  font-size: 16px;
  line-height: 18.4px;
  padding: 20px 10px;
}

.CartItem-price {
  font-size: 18px;
}
.CartItem-quantity {
  font-size: 18px;
  line-height: 20.7px;
  margin-left: 62px;
}

.CartItem-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

